/* app css stylesheet */

/* Input size */
.textboxclass {
  height: 400px;
  width: 700px;
}

/* Edit button margin top and bottom*/
.topbottommargin
{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add content button width*/
.addcontentbutton
{
  width: 100%;
}

/* Searchbox left margin */
#searboxlogoleftmargin
{
  margin-left: 430px;
}

#searchboxleftmargin
{
  margin-left: 450px;
}

/* List without pullets */
ul
{
  list-style-type: none;
  padding:0;
  margin:0;
}

#premium-image-container {
  position: relative;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.topimage{
  min-width: 800px;
  background-image: url(./images/mainsubbackground.png);
  background-size: 100%;
  background-position: 50% 0px;
}

.skillratebackground
{
  padding: 0px;
  background-image: url(./images/rate.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.skillratetextpadding
{
  padding: 2px;
}

.skillratetextfontsize
{
  font-size: 12px;
}

.skillbackground
{
  background-image: url(./images/skill.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.verysmallfontsize
{
  font-size: 11px;
}

.bluecolor
{
  color: blue;
}

#premium-image {
  position: relative;
  width: 100%;
  height: 100%;
}
/* Top margin for top card*/
#topcardtopmargin
{
  margin-top: 15px;
}

/* Main background*/
#backgroundimage
{
  background-image: url("./images/mainbackground.png"); background-repeat: no-repeat; background-size: 100% 100%;
}

/* Backround for top card footer*/
#topcardfooterbackground
{
  background-image: url("./images/topcardfooter.png"); background-repeat: no-repeat; background-size: 100% 100%;
}

/* Padding left for top card footer text*/
#topcardfootertextleftpadding
{
  padding-left: 45px;
  padding-top: 16px;
  padding-bottom: 6px;
}

/* White background for cards */
.cardbackground
{
  background-color: white;
}

/* Margin for card*/
.card
{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 135px;
  margin-left: 135px;
}

/* Center search box in navigation bar*/
.nav-collapse{
  margin-right: 50%;
}

/* Right align*/
.rightalign
{
  align: right;
}

/* Gray clor*/
.greycolor
{
  color: #A39D9D;
}

/* Big font size*/
.bigfontsize
{
  font-size: 20px;
}

.mediumfontsize
{
  font-size: 17px;
}

.smallfontsize
{
  font-size: 13px;
}

/* Small font for posts */
#postfontsize
{
  font-size: 12px;
}

/* Footer text color */
#footertextcolor
{
  color: #6D7B8D;
}

/* For summary text, experience text, ... */
.marginleftright
{
  margin-left: 20px;
  margin-right: 20px;
}

/* skill image margin*/
.skillmargin
{
  margin-top: 5px;
  margin-bottom: 5px;
}

/* float left*/
.normalrow
{
  display: flex;
}

/* Summary, Experience, ... text size*/
.contenttextsize
{
  font-size: 16px;
}

.whitebackground
{
  background-color: white;
}

.blackbackground
{
  background-color: black;
}

.bluebackground
{
  background-color: deepskyblue;
}

.greybackground
{
  background-color: darkgray;
}

.whitetext
{
  color: white;
}

.textcenter
{
  text-align: center;
}

.textcentervertical
{
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
