<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LinkedIn Web MidTerm Case Study</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- AngularJs -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>

</head>
<body id="backgroundimage">
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <!-- Fixed Navigation Bar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header" id="searboxlogoleftmargin">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="./images/linkedinlogo.png" width="25" height="25">
      </a>
    </div>
    <div class="center-block" id="searchboxleftmargin">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" size="40px" placeholder="Search for people, jobs, companies, and more ..." name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>

  </div>


  <div class="container">
    <div class="text-center">
      <br>
      <br>
    </div>

  </div><!-- /.container -->

  <!-- Main Navigation Bar-->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Who's Viewed Your Profile</a></li>
            <li><a href="#">Your Updates</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Network
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Connection</a></li>
            <li><a href="#">Add Contacts</a></li>
            <li><a href="#">People You May Know</a></li>
          </ul>
        </li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Interests</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Business Services
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Talent Solutions</a></li>
            <li><a href="#">Post A Job</a></li>
            <li><a href="#">Advertises</a></li>
          </ul>
        </li>
        <li><a href="#">Try Premium For Free</a></li>
      </ul>
    </div>
    <div id="premium-image-container">
      <div id="premium-image" class="topimage"></div>
    </div>
  </nav>



  <!-- Main Content of Website-->
  <div class="container" ng-app="myApp" ng-controller="myCtrl">
    <!-- Top card -->
    <div class="card cardbackground" ng-controller="topCardCtrl" ng-mouseenter="enterTopCard()" ng-mouseleave="leaveTopCard()">
      <div class="row">
        <div class="col-sm-3"><img src="{{basicinfo.avatar}}" alt="logo" width="100%" height="100%"/></div>
        <div class="col-sm-9" id="topcardtopmargin">
          <div class="row">
            <div class="col-sm-9">
              <div>
                <div class="normalrow" ng-hide="nameEditorEnabled">
                  <p class="bigfontsize"><strong>{{basicinfo.name}}</strong></p>
                  <img ng-style="{'background-color': backgroundColorName}" ng-mouseenter="enterTopCardContent('name')" ng-mouseleave="leaveTopCardContent('name')" ng-click="clickTopCardContent('name')" ng-show="basicInfoEditorEnabled" src="./images/pencil.png" alt="logo" width="25" height="25"/>
                </div>
                <div ng-show="nameEditorEnabled">
                  <input ng-model="editableName" ng-show="nameEditorEnabled">
                  <a href="#" ng-click="save('name')">Save</a>
                  or
                  <a href="#" ng-click="cancel('name')">Cancel</a>
                </div>
              </div>
              <div>
                <div class="normalrow" ng-hide="experienceEditorEnabled">
                  <p class="mediumfontsize" class="greycolor">{{experience[0].position + " at " + experience[0].company}}</p>
                  <img ng-style="{'background-color': backgroundColorExperience}" ng-mouseenter="enterTopCardContent('experience')" ng-mouseleave="leaveTopCardContent('experience')" ng-click="clickTopCardContent('experience')" ng-show="basicInfoEditorEnabled" src="./images/pencil.png" alt="logo" width="20" height="20"/>
                </div>
                <div ng-show="experienceEditorEnabled">
                  <input ng-model="editableExperience" ng-show="experienceEditorEnabled">
                  <a href="#" ng-click="save('experience')">Save</a>
                  or
                  <a href="#" ng-click="cancel('experience')">Cancel</a>
                </div>
              </div>
              <div>
                <div class="normalrow" ng-hide="addressEditorEnabled">
                  <p>{{basicinfo.address}}</p>
                  <img ng-style="{'background-color': backgroundColorAddress}" ng-mouseenter="enterTopCardContent('address')" ng-mouseleave="leaveTopCardContent('address')" ng-click="clickTopCardContent('address')" ng-show="basicInfoEditorEnabled" src="./images/pencil.png" alt="logo" width="20" height="20"/>
                </div>
                <div ng-show="addressEditorEnabled">
                  <input ng-model="editableAddress" ng-show="addressEditorEnabled">
                  <a href="#" ng-click="save('address')">Save</a>
                  or
                  <a href="#" ng-click="cancel('address')">Cancel</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3"><img src="./images/linkedinlogo.png" alt="logo" width="65" height="65"/></div>
          </div>
          <div>
            <div class="row">
              <div class="col-sm-2"><p class="smallfontsize greycolor">Current</p></div>
              <div class="col-sm-10">
                <div>
                  <div class="normalrow" ng-hide="currentEditorEnabled">
                    <p class="smallfontsize">{{basicinfo.current}}</p>
                    <img ng-style="{'background-color': backgroundColorCurrent}" ng-mouseenter="enterTopCardContent('current')" ng-mouseleave="leaveTopCardContent('current')" ng-click="clickTopCardContent('current')" ng-show="basicInfoEditorEnabled" src="./images/pencil.png" alt="logo" width="20" height="20"/>
                  </div>
                  <div ng-show="currentEditorEnabled">
                    <input ng-model="editableCurrent" ng-show="currentEditorEnabled">
                    <a href="#" ng-click="save('current')">Save</a>
                    or
                    <a href="#" ng-click="cancel('current')">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"><p class="smallfontsize greycolor">Previous</p></div>
              <div class="col-sm-10">
                <div>
                  <div class="normalrow" ng-hide="previousEditorEnabled">
                    <p class="smallfontsize">{{basicinfo.previous}}</p>
                    <img ng-style="{'background-color': backgroundColorPrevious}" ng-mouseenter="enterTopCardContent('previous')" ng-mouseleave="leaveTopCardContent('previous')" ng-click="clickTopCardContent('previous')" ng-show="basicInfoEditorEnabled" src="./images/pencil.png" alt="logo" width="20" height="20"/>
                  </div>
                  <div ng-show="previousEditorEnabled">
                    <input ng-model="editablePrevious" ng-show="previousEditorEnabled">
                    <a href="#" ng-click="save('previous')">Save</a>
                    or
                    <a href="#" ng-click="cancel('previous')">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"><p class="smallfontsize greycolor">Education</p></div>
              <div class="col-sm-10"><p class="smallfontsize">{{education[0].university}}</p></div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-2">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Follow
                  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View recent activity</a></li>
                  <li><a href="#">Connect</a></li>
                  <li><a href="#">Share profile</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-7">
              <p class="verysmallfontsize">Know Jeff?</p>
              <p class="verysmallfontsize bluecolor">Connect</p>
            </div>
            <div class="col-sm-3">
              <p class="bigfontsize"><strong>4,034,163</strong></p>
              <p class="verysmallfontsize greycolor rightalign">followers</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div id="topcardfooterbackground">
        <div>
          <div class="normalrow" id="topcardfootertextleftpadding" ng-hide="contactEditorEnabled">
            <p  class="greycolor verysmallfontsize">{{basicinfo.contact}}</p>
            <img ng-style="{'background-color': backgroundColorContact}" ng-mouseenter="enterTopCardContent('contact')" ng-mouseleave="leaveTopCardContent('contact')" ng-click="clickTopCardContent('contact')" ng-show="basicInfoEditorEnabled" src="./images/pencil.png" alt="logo" width="15" height="15"/>
          </div>
          <div ng-show="contactEditorEnabled">
            <input ng-model="editableContact" ng-show="contactEditorEnabled">
            <a href="#" ng-click="save('contact')">Save</a>
            or
            <a href="#" ng-click="cancel('contact')">Cancel</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Post -->
    <div class="card cardbackground">
      <!-- Header -->
      <div class="row">
        <div class="col-sm-2"><p class="blackbackground whitetext textcentervertical textcenter"><strong>Posts</strong></p></div>
        <div class="col-sm-10"></div>
      </div>

      <!-- Content-->
      <div class="marginleftright">
        <div>Published by Jeff</div>
        <div id="postfontsize">See more&raquo;</div>
        <div class="row">
          <div class="col-sm-4"><img src="./images/article3.png" alt="logo" width="100%" height="100%"/></div>
          <div class="col-sm-4"><img src="./images/article4.png" alt="logo" width="100%" height="100%"/></div>
          <div class="col-sm-4"><img src="./images/article5.png" alt="logo" width="100%" height="100%"/></div>
        </div>
        <br>
      </div>
    </div>

    <!-- Info -->
    <div class="card cardbackground">
      <!-- Header -->
      <div class="row">
        <div class="col-sm-2"><p class="blackbackground whitetext textcentervertical textcenter"><strong>Background</strong></p></div>
        <div class="col-sm-10"></div>
      </div>

      <!-- Content-->
      <div class="marginleftright">
        <!-- Summary -->
        <div>
          <div class="normalrow">
            <div><img src="./images/summarylogo.png" alt="summarylogo" width="30" height="35"/></div>
            <div><p class="textcentervertical contenttextsize">&nbsp;&nbsp;&nbsp;Summary</p></div>
          </div>
          <br>
          <div>
            <ul>
              <li ng-repeat="s in summary"><p>{{ s.content }}</p></li>
            </ul>
          </div>

          <div ng-show="true">
            <div>
              <!--<input ng-model="editableSummary" ng-show="true" type="text" class="textboxclass"> <!--summaryEditorEnabled-->
              <textarea ng-model="editableSummary" ng-show="true" cols="90" rows="20" ></textarea>
            </div>
            <div>
              <button ng-click="save('summary')" type="button" class="btn btn-primary topbottommargin">Save</button>
              &nbsp;&nbsp;&nbsp;
              <button ng-click="cancel('summary')" type="button" class="btn btn-danger topbottommargin">Cancel</button>
            </div>
          </div>

          <button type="button" class="btn btn-info addcontentbutton topbottommargin">Edit Summary</button>
        </div>
        <hr/>

        <!-- Experience -->
        <div>
          <div class="normalrow">
            <div><img src="./images/experiencelogo.png" alt="experiencelogo" width="30" height="35"/></div>
            <div><p class="textcentervertical contenttextsize">&nbsp;&nbsp;&nbsp;Experience</p></div>
          </div>
          <br>
          <!-- LinnkedIn, .... -->
          <ul>
            <li ng-repeat="e in experience">
              <div class="row">
                <div class="col-sm-10">
                  <p class="contenttextsize"><strong>{{e.position}}</strong></p>
                  <p>{{e.company}}</p>
                  <p class="greycolor">{{e.duration}}</p>
                  <br>
                  <p>{{e.description}}</p>
                </div>
                <div class="col-sm-2"><img src="{{e.logo}}" alt="logo" width="70%"/></div>
              </div>
              <br>
            </li>
          </ul>
        </div>
        <br>
        <!-- LinkedIn articles -->
        <div>
          <div class="row">
            <div class="col-sm-6"><img src="./images/article1.png" alt="logo" width="100%" height="100%"/></div>
            <div class="col-sm-6"><img src="./images/article2.png" alt="logo" width="100%" height="100%"/></div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4"><img src="./images/article3.png" alt="logo" width="100%" height="100%"/></div>
            <div class="col-sm-4"><img src="./images/article4.png" alt="logo" width="100%" height="100%"/></div>
            <div class="col-sm-4"><img src="./images/article5.png" alt="logo" width="100%" height="100%"/></div>
          </div>
        </div>
        <br>
        <hr/>

        <!-- Project -->
        <div>
          <div class="normalrow">
            <div><img src="./images/experiencelogo.png" alt="experiencelogo" width="30" height="35"/></div>
            <div><p class="textcentervertical contenttextsize">&nbsp;&nbsp;&nbsp;Project</p></div>
          </div>
          <br>
          <div>
            <ul>
              <li ng-repeat="p in project"><p>{{ p.content }}</p></li>
            </ul>
          </div>
          <br>
        </div>
        <hr/>

        <!-- Skill -->
        <div>
          <div class="normalrow">
            <div><img src="./images/skilllogo.png" alt="skilllogo" width="30" height="35"/></div>
            <div><p class="textcentervertical contenttextsize">&nbsp;&nbsp;&nbsp;Skills</p></div>
          </div>
          <br>
          <p>Top skills</p>
          <br>
          <ul>
            <li ng-repeat="s in skill">
              <div>
                <div class="normalrow">
                  <div><p class="whitetext skillratebackground skillratetextfontsize skillratetextpadding">{{s.rate}}</p></div>
                  <div><p class="skillbackground">&nbsp;&nbsp;&nbsp;{{s.skillname}}&nbsp;&nbsp;&nbsp;</p></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <hr/>

        <!-- Education -->
        <div>
          <div class="normalrow">
            <div><img src="./images/educationlogo.png" alt="educationlogo" width="30" height="35"/></div>
            <div><p class="textcentervertical contenttextsize">&nbsp;&nbsp;&nbsp;Education</p></div>
          </div>
          <br>
          <ul>
            <li ng-repeat="e in education">
              <div class="row">
                <div class="col-sm-10">
                      <p class="contenttextsize"><strong>{{e.university}}</strong></p>
                      <p>{{e.degree}}</p>
                      <p>{{e.duration}}</p>
                </div>
                <div class="col-sm-2"><img src="{{e.image}}" alt="logo" width="65" height="65"/></div>
              </div>
            </li>
          </ul>
          <br>
        </div>

      </div>
    </div>

    <!-- Footer -->
    <div class="card" id="footertextcolor">
      <div><p>Help Center | About | Careers | Advertising | Talent Solutions | Small Business | Mobile | Language | Upgrade Your Account</p></div>
      <div><p>LinkedIn Corporation &copy; 2016 | User Agreement | Privacy Policy | Ad Choices | Community Guidelines | Cookie Policy | Copyright Policy</p></div>
    </div>
  </div>

  <!-- Source -->
  <script src="app.js"></script>
</body>
</html>
