/* app css stylesheet */
/* Main background*/
#backgroundimage
{
	background-image: url("./images/mainbackground.png"); background-repeat: no-repeat; background-size: 100% 100%;
}

/* White background for cards */
.cardbackground
{
	background-color: white;
}

/* Margin for card*/
.card
{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 135px;
	margin-left: 135px;
}

/* Small font for posts */
#postfontsize
{
	font-size: 12px;
}

/* Footer text color */
#footertextcolor
{
	color: #6D7B8D;
}

/* For summary text, experience text, ... */
.marginleftright
{
	margin-left: 20px;
	margin-right: 20px;
}

/* skill image margin*/
.skillmargin
{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* float left*/
.normalrow
{
	display: flex;
}

/* Summary, Experience, ... text size*/
.contenttextsize
{
	font-size: 16px;
}

.whitebackground
{
	background-color: white;
}

.blackbackground
{
	background-color: black;
}

.whitetext
{
	color: white;
}

.textcenter
{
	text-align: center;
}

.textcentervertical
{
	padding-bottom: 5px;
	padding-top: 5px;
}




